.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--index-main-bg);
  color: var(--index-title-color);
}

.scroll {
  flex: 1;
  height: 0;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 32rpx;
  padding: 32rpx 32rpx 80rpx;
  box-sizing: border-box;
}
